{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block title %}
  Home Page
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/show_form.js' %}"></script>
  <script src="{% static 'js/walking_cat.js' %}"></script>
{% endblock %}

{% block content %}
  <section class="activity-main">
    <h1>Track your activities</h1>
    <div>
      <button id="add-activity-button" class="activity-button">Add</button>
      <form method="post" action="{% url 'export_activities' %}" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="activity-button">Create Export</button>
      </form>

      {% if last_export %}
        <a href="{{ last_export.url }}" style="all: unset;" download><button class="activity-button">Download Export</button></a>
      {% endif %}
    </div>
  </section>

  {% include 'activity_form.html' %}
  {% include 'activity_table.html' %}

  <pre class="walking-cat"></pre>
{% endblock %}
