table,
th,
td {
    border: var(--default-border);
}

td {
    text-align: left;
    padding: 8px;
}

.activity-table {
    margin-top: 12px;
    width: 100%;
    border-collapse: collapse;
}

.delete-activity-header {
    text-align: center;
}

.delete-activity-button {
    background-color: #e74c3c;
    text-decoration: none;
    color: white;
    padding: 0 6px;

}

.nothing-to-show-msg {
    padding: var(--spacing-unit);
    border-radius: 4px;
    margin-bottom: var(--spacing-unit);
    background-color: #eef;
    border-left: 4px solid var(--border-color);
    color: var(--primary-color);
}