.activity-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activity-button {
    padding: 3px 8px;
    text-align: center;
    font-weight: 700;
}

.walking-cat {
    text-align: center;
    margin: 0 auto;
    margin-top: 75px;
    font-size: 16px;
    font-weight: 600;
    padding: 50px 0;
    border-radius: 80px;
    line-height: 1.2;
}